<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.1.2" targetFramework="net462" />
  <package id="Castle.Core" version="5.1.1" targetFramework="net462" />
  <package id="Castle.Windsor" version="6.0.0" targetFramework="net462" />
  <package id="CliWrap" version="3.6.6" targetFramework="net462" />
  <package id="CommunityToolkit.Mvvm" version="7.1.2" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="4.6.1" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.72" targetFramework="net462" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net462" />
  <package id="HtmlRenderer.WPF" version="1.5.0.6" targetFramework="net462" />
  <package id="HtmlTextBlock" version="1.0.1" targetFramework="net462" />
  <package id="ID3" version="0.6.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net462" />
  <package id="NAudio" version="1.10.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NVorbis" version="0.10.5" targetFramework="net462" />
  <package id="PlayniteSDK" version="6.11.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net462" />
  <package id="System.CodeDom" version="9.0.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="9.0.0" targetFramework="net462" />
  <package id="System.Linq.Async" version="6.0.1" targetFramework="net462" />
  <package id="System.Management" version="9.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="9.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="9.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="TagLibSharp" version="2.3.0" targetFramework="net462" />
  <package id="YoutubeExplode" version="6.4.3" targetFramework="net462" />
  <package id="YoutubeExplode.Converter" version="6.4.3" targetFramework="net462" />
</packages>